.btn {
  position: relative;
  left: 0%;
  padding: 0.8rem;
  width: 92%;
  border-radius: 3rem;
  font-size: $ls--1;
  background-color: $color--orange;
  border: none;
  color: hsl(0, 0%, 100%);
  cursor: cur;
}

.btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: $color--orange;
  transform: translateY(-0.2rem);
}

.btn:active {
  transform: translateY(0.2rem);
}

a {
  text-decoration: none;
}
