.rating {
  &__container {
    margin: 0 auto;
    width: 560px;
    // -webkit-box-reflect: below 1px
    //   linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  }

  &__box:hover {
    background: $color--dark--blue;
    box-shadow: 0 0 30px $color--dark--blue;
    cursor: pointer;
  }

  &__box {
    background-color: $color--dark--blue;
    padding: 2.4rem 2.4rem 2.4rem 2.4rem;
    border-radius: 2.4rem;
  }

  &__header {
    margin-bottom: $ls--1;
  }

  &__numbers {
    margin-bottom: 3.4rem;
    position: relative;
    left: 1%;
  }
}

.thank__you--box {
  transform: translateY(-34.6rem);
}

.thank__you--hidden {
  display: none;
}
