.no {
  font-size: 1rem;
  padding: 1.4rem 2rem;
  background-color: hsl(217, 12%, 63%);
  border-radius: 50%;
  margin-right: 0.8rem;
  text-align: center;
  color: #ccd9ed;
  cursor: pointer;
  border: none;
}

.no:hover {
  background-color: hsl(25, 97%, 53%);
  transform: translateY(-0.2rem);
}

.no:active {
  transform: translateY(0.2rem);
}

span {
  font-size: 2.8rem;
  padding: 1.4rem 2rem;
  background-color: hsl(217, 29%, 88%);
  border-radius: 50%;
  margin-right: 2.8rem;
  text-align: center;
  color: #6c7074;
  cursor: pointer;
}

.numbers--hidden {
  margin-bottom: 3.4rem;
  position: absolute;
  top: 51%;
  left: 31%;
}
