.rating {
  &__header {
    color: hsl(0, 0%, 100%);
  }

  &__text {
    font-size: $ls--1;
    color: #959eac;
    line-height: 1.5;
    max-width: 100%;
    margin-bottom: 3.4rem;
  }
}

.thank-you {
  text-align: center;
}

.select {
  font-size: $ls--1;
  margin-bottom: 5.4rem;
  padding: $ls--1;
  border-radius: 2.4rem;
  background-color: #74767836;
  position: relative;
  left: -1%;
  color: $color--orange;
}
