.rating--header {
  color: hsl(0, 0%, 100%);
}

.rating--text {
  font-size: 1.5rem;
  color: #959eac;
  line-height: 1.5;
  max-width: 100%;
  margin-bottom: 3.4rem;
}

.text {
  font-size: 1.5rem;
  color: #959eac;
  line-height: 1.5;
  max-width: 100%;
}

.thank-you {
  text-align: center;
}

.select {
  font-size: 1.4rem;
  margin-bottom: 5.4rem;
  padding: 1.4rem;
  border-radius: 2.4rem;
  background-color: #74767836;
  position: relative;
  left: -1%;
  color: hsl(25, 97%, 53%);
}
